<p id="notice"><%= notice %></p>

<div class="container" id="content">
<div id="mainz" class="row">
    <div class="col-sm-12 col-lg-12">

        <table id="example" class="table table-striped table-sm table-hover  table-bordered" style="border-collapse:collapse;">
            <thead class="thead-dark">
                <tr>
                    <th>Student</th>
                    <th>Cohort</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>


                </tr>
            </thead>
            <tbody>

            <% @enrollments.each do |enrollment| %>
              <tr>
              
                <td><a href="/students/<%=enrollment.student_id%>"><%= Student.find(enrollment.student_id).full_name %></a></td>
        
        
              
                
                
                  <%begin%>
                  <td>
                  <a href="/cohorts/<%=enrollment.cohort_id%>"><%=Cohort.find(enrollment.cohort_id).name%></a>
                  <%rescue%>
                  <td>deleted</td>
                  <%end%>

                  
                <td><%= link_to 'Show', enrollment %></td>

                <td>
    <a href="/enrollments/<%=enrollment.id%>/edit" <i class="fas fa-edit  fa-2x"></i></a>
</td>

<td><a data-confirm="Are you sure?" data-remote="true" rel="nofollow" data-method="delete" href="/enrollments/<%=enrollment.id%>">
   <i class="fas fa-trash fa-stroopwafel fa-2x"></i>
 </a>
</td>
                
              </tr>
            <% end %>
              



            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th>Student</th>
                    <th>Cohort</th>
                    
                    <th>Edit</th>
                    <th>Delete</th>
                    

                </tr>
            </tfoot>
        </table>
    </div>
</div>


</div>

